*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(213, 128, 216);
}
div{

    background-color: darkmagenta;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    height: 450px;
    width: 350px;
    max-width: 100%;
    border: none;
    border-radius: 1rem;
   
}

#pantalla{
    grid-column: 1 / 5;
    text-align: right;
    border-radius: 1.5rem;
    margin: 1rem;
    color: #000;
    border: none;
}

button{
    background-color: darkmagenta;
    color: aliceblue;
    border: 0;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;
    margin: 2.5px;
}

button:hover{
    background-color: darkorchid;
}

#ac{
    grid-column: 1/2;
}

.cero{
    grid-column: span 3;
    
}

  #igual{
   background-color: darkslateblue;
    grid-row: span 2;
}  

#igual:hover{
    background-color: rgb(131, 1, 252);
}

